/* Paleta de cores reutilizável */
:root{

  /* > Pense em `:root` como a 🎨“caixinha de lápis”🎨 que define as principais cores do projeto.  
  > Se amanhã o tema mudar, basta trocar os lápis aqui — todas as páginas se recolorirão. */
  --text-color:#DBE4EF;
  --card-front:#144480;
  --card-back:#00F4BF;
}

body{
  margin:0;
  font-family:"Bai Jamjuree",sans-serif;
  background:#f5f7fa;          /* cor neutra de fundo */
}

#container{
  display:flex;             /* ativa o Flexbox */
  flex-wrap:wrap;           /* permite quebrar linha */
  gap:3rem;                 /* espaço entre cartões */
  padding:4rem;             /* espaço interno */
  justify-content:space-between;
}

/* Cada cartão ocupa 1/3 da largura em telas grandes */
.cartao{
  height:20rem;
  flex:1 0 calc(33% - 6rem); /* 3 por linha em telas grandes *//* largura flexível - espaçamento */
}